@page
@model WebApplication11.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<html>
<body>

<h1>Детали</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ФИО
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            День Рождение
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.BirthDate)
        </dd>
        <dt class="col-sm-2">
            Съёмная квартира
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Deleted)
        </dd>
        <dt class="col-sm-2">
            Квар-плата
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student?.Id">Изменить</a> |
    <a asp-page="./Index">Вернться</a>
</div>

</body>
</html>

<style type="text/css">
    .MainPage_item {
        display: flex;
        justify-content: space-between;
    }

    ul {
        list-style: none;
    }

    .head {
        display: flex;
        justify-content: space-between;
    }


    a:hover {
        color: #5ca174;
        text-decoration: none;
    }

    li {
        display: inline;
    }

    body {
        background-color: #E2F9EA;
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
    }


    .containerMain_item {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    button:hover {
        color: #ffffff;
        background-color: #3f7251;
    }

    .button {
        width: 250px;
        height: 55px;
        background-color: #69a07c;
        margin-top: 25px;
        text-align: center;
        border: 2px solid black;
        border-radius: 15px;
        color: #ffeded;
    }
